
.question {
    padding-left: 30px;
    background-color: #e7e7e7;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
}

.answer {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 20px;
    font-size: 14px;
}


.fa-question-circle:before {
    color: #001369; 
}

.faq-container{
    width: 80%;
    padding-top: 15px;
}

.fas{
    padding-right: 5px;
}

.faq-item{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}